.login-container {
    margin-left: 38%;
    width: 300px;
    background-color:rgb(209, 231, 236) ;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 8px;
    text-align: center;
  }
  .login-buttons button {
    margin: 8px;
    padding: 10px;
  }
 .rat{
    display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #007bff;
 }